@font-face {
    font-family: "Comic Sans MS", sans-serif;
    src: url(assets/fonts/ComicSansMS/ComicSansMS.woff2);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Comic Sans MS";
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2.5px solid rgb(185, 210, 255); 
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(244, 247, 255);
    width: 500px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.438);
}
.container h1{
    text-align: center;
}

form{
    flex: 1;
    display:flex;
    gap: 5px;
    flex-direction: column !important;
}

form label{
    display:flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

ul li{
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}
